.app {
}

.header {
  height: var(--header-height);
  width: 100%;
  background-image: linear-gradient(0deg, #ff6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
  animation: fadeIn ease-in 0.3s;
}

.header__navbar-item-has-notification:hover .header__notification {
  display: block;
}

.header__navbar-item-link,
.header__navbar-item {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item-link,
.header__navbar-item,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-item-link:hover,
.header__navbar-icon-link:hover,
.header__navbar-item:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-title--no-pointer {
  cursor: default;
  color: var(--white-color);
}

.header__navbar-item--separate::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: #fb9086;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon {
  margin: 0 4px;
  font-size: 1.8rem;
}

/* Header QR code */

.header__qr {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 117%;
  padding: 8px;
  border-radius: 2px;
  display: none;
}

.header__qr::before {
  content: '';
  position: absolute;
  left: 0;
  top: -16px;
  width: 100%;
  height: 20px;
  display: block;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-link:first-child {
  margin-left: 11px;
}

.header__qr-link:last-child {
  margin-right: 11px;
}

.header__qr-img {
  width: 100%;
}

.header__qr-download-img {
  height: 16px;
}

/* Header notification */

.header__notification {
  position: absolute;
  top: 118%;
  right: 0;
  width: 404px;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  cursor: default;
  /* Change the heart of animation */
  transform-origin: calc(100% - 20px) top;
  animation: headerNotificationGrowth ease-in 0.2s;
  will-change: opacity, transform;
  display: none;
}

/* Create the up arrow for notification box */
.header__notification::before {
  content: '';
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 4px;
  top: -29px;
}

@keyframes headerNotificationGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* The bridge to link the option with hover */

.header__notification::after {
  content: '';
  position: absolute;
  width: 100px;
  right: 0;
  top: -16px;
  height: 20px;
  display: block;
}

.header__notification-header {
  background-color: var(--white-color);
  height: 40px;
}

.header__notification-header h3 {
  color: #666;
  margin: 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  margin: 0 0 0 12px;
  /* Unable to copy, select, or highlight words */
  user-select: none;
  -webkit-user-select: none;
}

.header__notification-list {
  padding-left: 0;
}

.header__notification-item {
  display: flex;
}

.header__notification-item:hover {
  background-color: #f1f1f1;
}

.header__notification-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
}

.header__notification--viewed {
  background-color: rgba(238, 75, 43, 0.09);
}

.header__notification-img {
  width: 48px;
  object-fit: contain;
}

.header__notification-info {
  margin-left: 12px;
}

.header__notification-name {
  display: block;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.header__notification-description {
  display: block;
  color: #756f6e;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-top: 4px;
}

.header__notification-footer {
  display: flex;
}

.header__notification-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  width: 100%;
  padding: 8px;
  margin: auto;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

/* Authen Modal */

.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 12px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__aside {
  margin-top: 18px;
  text-align: center;
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 16px 36px;
  margin-top: 22px;
}

.auth-form__socials--icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook .auth-form__socials--icon {
  color: var(--white-color);
}

.auth-form__socials--facebook {
  background-color: #3a5a98;
  color: var(--white-color);
}

.auth-form__socials--google {
  color: #666;
  background-color: var(--white-color);
}

.auth-form__socials-title {
  margin: 0 36px;
}

/* Login form */
.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #888;
}

.auth-form-help--separate {
  display: block;
  border-left: 1px solid #eaeaea;
  height: 22px;
  margin: 1px 16px 0;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* Header with search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__logo {
  width: 200px;
  margin-left: 8px;
}

.header__logo-img {
  width: 120px;
  margin-top: 6px;
}

.header__search {
  flex: 1;
  background-color: var(--white-color);
  height: 40px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

/* Cart layout */
.header__cart {
  width: 150px;
  text-align: center;
  position: relative;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  margin-top: 6px;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 4px);
  right: 50px;
  background-color: var(--white-color);
  width: 410px;
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
}

.header__cart-list::after {
  position: absolute;
  content: '';
  right: 3px;
  top: -26px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
  padding: 28px 0 0;
}

.header__cart--no-cart-img {
  width: 60%;
}

.header__cart-list-no-cart-msg {
  display: block;
  font-size: 1.4rem;
  padding-bottom: 12px;
  margin-top: 14px;
  color: var(--text-color);
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}

.header__search-select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: #4a4a4a;
  margin: 0 16px 0 8px;
  font-weight: 300;
  position: relative;
}

.header__search-btn {
  width: 60px;
  height: 36px;
  background-color: var(--primary-color);
  outline-style: none;
  border-radius: 2px;
  border-style: none;
  margin-right: 2px;
}

.header__search-btn:hover {
  background-color: #fb6445;
  cursor: pointer;
}

.header__search-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}

.header__search-option {
  position: absolute;
  right: 0;
  top: 100%;
  width: 140px;
  box-shadow: 0 1px 2px #e0e0e0;
  padding-left: 0;
  border-radius: 2px;
  overflow: hidden;
  display: none;
}

.header__search-select::after {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 30px;
  display: block;
}

.header__search-select:hover .header__search-option {
  display: block;
  animation: fadeIn ease-in 0.2s;
}

.header__search-option-item {
  list-style: none;
  background-color: var(--white-color);
  padding: 8px;
}

.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-option span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-option i {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin: 0 4px 0 18px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

/* Search History */

.header__search-history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  margin-top: 2px;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 5px rgb(189, 189, 189);
  display: none;
  overflow: hidden;
}

.header__search-history-heading {
  color: #999;
  margin: 6px 12px;
  font-weight: 400;
  font-size: 1.4rem;
}

.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0;
}

.header__search-history-item {
  height: 38px;
  padding: 0 12px;
}

.header__search-history-item:hover {
  background-color: #fafafa;
}

.header__search-history-item a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 38px;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}
